- 
    var feats = ["img/features/f1.png", "Free Shipping", "img/features/f2.png", "Online Order", "img/features/f3.png", "Save Money", "img/features/f4.png", "Promotions", "img/features/f5.png", "Happy Sell", "img/features/f6.png", "F24/7 Support"]
    var products = ["img/products/f1.jpg", "img/products/f2.jpg", "img/products/f3.jpg", "img/products/f4.jpg", "img/products/f5.jpg", "img/products/f6.jpg", "img/products/f7.jpg", "img/products/f8.jpg"];
    var arrivals = ["img/products/n1.jpg", "img/products/n2.jpg", "img/products/n3.jpg", "img/products/n4.jpg", "img/products/n5.jpg", "img/products/n6.jpg", "img/products/n7.jpg", "img/products/n8.jpg"];
    var st = [["creazy deals", "buy 1 get 1 free", "The best classic dress is on sale at cara", "Learn more"], ["spring/summer", "upcoming season", "The best classic dress is on sale at cara", "Collection"]];
    var nd = [["SEASONAL SALE", "Winter Collecton-50% OFF"], ["NEW FOOTWEAR COLLECTION", "Spring/Summer 2022"], ["T-SHIRTS", "New Trendy Prints"]];