extends index.pug 
block pages 
    li: a(href="index.html") Home
    li: a(href="shop.html") Shop
    li: a(href="blog.html") Blog
    li: a(href="about.html") About
    li.current: a(href="contact.html") Contact
block content
    .highlighted.about #[.heading #[h2 #let's_talk] #[p LEAVE A MESSAGE, We love to hear from you!]]
    .location: .container #[.info #[h5 GET IN TOUCH] #[h2 Visit one of our agency locations or contact us today] #[h3 Head Office] #[div #[i.icon-map-o] #[p 56 Glassford street glasgow G1 1UL New York]] #[div #[i.icon-envelope-o] #[p contact@example.com]] #[div #[i.icon-phone] #[p contact@example.com]] #[div #[i.icon-clock-o] #[p Monday to Saturday: 9:00am to 16:00pm]]] #[<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.279909073!2d-73.69948831284508!3d40.69767006458873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z2YbZitmI2YrZiNix2YPYjCDYp9mE2YjZhNin2YrYp9iqINin2YTZhdiq2K3Yr9ip!5e0!3m2!1sar!2seg!4v1656698753306!5m2!1sar!2seg" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>]
    .contact: .container #[form #[h5 LEAVE A MESSAGE] #[h2 We love to hear from you] #[input(type="text" name="name" placeholder="Your Name")] #[input(type="email" name="email" placeholder="E-mail" required)] #[input(type="text" name="subject" placeholder="subject" required)] #[textarea(name="msg" placeholder="Your Message" required)] #[input(type="submit")]] #[.testimonials #[.per #[img(src="img/people/1.png" alt="person")] #[.info #[h4 John Doe] #[ul #[li Senior Marketing Manager] #[li phone: +000 123 000 77 88] #[li email: contact@example.com]]]] #[.per #[img(src="img/people/2.png" alt="person")] #[.info #[h4 William Smith] #[ul #[li Senior Marketing Manager] #[li phone: +000 123 000 77 88] #[li email: contact@example.com]]]] #[.per #[img(src="img/people/3.png" alt="person")] #[.info #[h4 Emma Stone] #[ul #[li Senior Marketing Manager] #[li phone: +000 123 000 77 88] #[li email: contact@example.com]]]]]